<h2>
	<span>Random Funny Joke</span>
</h2>	

<div class="box box5 shadow5">
      <h3><%= @joke.saying.html_safe %></h3>	
</div>
<p>
			Tags:
				<% @joke.tags.each do |tag| %>
				<%= link_to tag.name, tag_path(tag) %> 
	   			<% end %>
</p>
<p>Share: <%= social_share_button_tag(@joke.saying.truncate(120)) %></p>


<hr width="80%">
<h2>
	<span>Joke Categories</span>
</h2>

<div class="container">
	<div class="row">

		<% @tags.each do |tag| %>
    		<div class="col-md-2 col-sm-3 col-xs-4 <%= cycle('square1', 'square2', 'square3', 'square4') -%>">
				<div class="dummy"></div>
      			<%= link_to tag.name.titlecase, tag_path(tag), :class=>"thumbnail"  %>
    		</div>
		<% end %>
      
  	</div>
</div>

<br class="clear" />
<br />
<br />
<br />

<div class="box box1 shadow1">
    <h3>Shadow 1</h3>
  </div>