<h2>
	<span>Joke of the Day</span>
</h2>	

<div class="hidden-xs col-sm-2 meta">
	<span class="metatitle">Title:</span> <br />
	<span class="metafield metalinks"><%= link_to @joke.title, joke_path(@joke) %></span>
	<br />
	<br />
	<p>
	<span class="metatitle">Tags:</span>
	<br />
	<span class="metafield metalinks">
		<% @joke.tags.each do |tag| %>
		<%= link_to tag.name.downcase, tag_path(tag) %>
		<br />
	   	<% end %>
	</span>
	</p>
	<%= social_share_button_tag(@joke.saying.truncate(120)) %>
</div>


<div class="col-sm-10 saying">
      <%= @joke.saying.html_safe %>	
</div>
<br class="clear" />




<hr width="80%">
<h2>
	<span>Joke Categories</span>
</h2>

<div class="container">
	<div class="row">

		<% @tags.each do |tag| %>
    		<div class="col-md-2 col-sm-3 col-xs-4 <%= cycle('square1', 'square2', 'square3', 'square4') -%>">
				<div class="dummy"></div>
      			<%= link_to tag.name.titlecase, tag_path(tag), :class=>"thumbnail"  %>
    		</div>
		<% end %>
      
  	</div>
</div>

<br class="clear" />
<br />
<br />
<br />
