<h1><%= @joke.title %></h1>
<p><%= @joke.saying.html_safe %></p>
<p><%= @joke.author %></p>

<p>
	Tags:
	<% @joke.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
</p>
<p>Share: <%= social_share_button_tag(@joke.title) %></p>
	<% end %>
<br />
<br />


