<h1><%= @joke.title %></h1>
<p><%= @joke.saying.html_safe %></p>
<p><%= @joke.author %></p>
<p><%= social_share_button_tag(@joke.title) %></p>
<p>
	Tags:
	<% @joke.tags.each do |tag| %>
		<%= link_to tag.name, tag_path(tag) %>
	<% end %>
</p>
<br />
<br />
<% if logged_in? %>
	<%= link_to "<< Back to Joke List", jokes_path %>
	<br />
	<br />
	<%= link_to "delete", joke_path(@joke), method: :delete, data: {confirm: "Really delete the joke?"} %>
	<br />
	<br />
	<%= link_to "edit", edit_joke_path(@joke) %>
<% end %>


