<!DOCTYPE html>
<html>
<head>
  <title>Douzie - Funny Jokes</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8"> 
  <meta name="google-site-verification" content="rUxjZfY8gxXTZ4jgDxORSoFrAHDgMBsBw-ntaQW1UCw" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>
<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <%= link_to 'Douzie', root_path, :class => 'logo-text navbar-brand' %>
    </div>
    
    <nav class="navbar-collapse bs-navbar-collapse collapse" role="navigation" style="height: 1px;">
      <ul class="nav navbar-nav">
        <li>
            <%= link_to "Home", root_path %>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Joke Categories<b class="caret"></b></a>
            <ul class="dropdown-menu">

            <% @navitems.each do |navitem| %>
            <li><%= link_to navitem.name.titlecase, tag_path(navitem) %></li>
            <% end %>

            </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
              <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
          <% else %>
             <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li>
             <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>

  
  <br class="clear" />

  <div class="container mainbody">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
  </div>

<div class="footer">
    <div class="container">
      <div class="col-xs-12">
          <%= link_to 'Privacy Policy', privacy_path %><br />
          <a href="">About</a><br />
          <a href="">Contact</a>
      </div>
    </div>
  </div>
