<!DOCTYPE html>
<html>
<head>
  <title>Douzie - Funny Jokes</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8"> 
  <meta name="google-site-verification" content="rUxjZfY8gxXTZ4jgDxORSoFrAHDgMBsBw-ntaQW1UCw" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>

<body>

<nav role="navigation" class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header navbar-left pull-left">
            <%= link_to 'Douzie', root_path, :class => 'logo-text navbar-brand' %>
        </div>

        <!-- right align on normal size, right align on xs -->
        <div class="navbar-header navbar-right pull-right">
            
            <% if user_signed_in? == false %>

            <ul class="nav navbar-nav navbar-right pull-left">
                <li class="nav navbar-link"><%= link_to "Sign up/Login", '#', :class => 'nav navbar-link', data: {toggle: 'modal', target: '#Login'}, :style=>"margin-right:5px;"  %></li>
            </ul>

            <% end %>

            <% if user_signed_in? %>
                <ul class="nav pull-left">
                    <li class="navbar-text pull-left"><%= current_user.email %></li>
                    <li class="dropdown pull-right">
                        <a href="#" data-toggle="dropdown" style="background-color:#282B28; color:#F5F3F5; margin-top: 5px;" class="dropdown-toggle">
                        <i class="fa fa-lg fa-user" style="color:#A7C6DA;"></i>
                        <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><%= link_to 'My Favorites', favorites_path %></li>
                            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                        </ul>
                    </li>
                </ul>
            <% end %>
            
              <!-- Hamburger icon -->
              <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
        </div>
        <div class="visible-xs-block clearfix"></div>
        <div class="collapse navbar-collapse">

            <!-- left align on normal size, collapsed on xs -->
            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Home", root_path %></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Joke Categories<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <% @navitems.each do |navitem| %>
                            <li><%= link_to navitem.name.titlecase, tag_path(navitem) %></li>
                        <% end %>
                    </ul>
                </li>
            </ul>

            <!-- right align on normal size, collapsed on xs -->
            <ul class="nav navbar-nav navbar-right">
                <!--
                    <li><a href="/locator"></a></li>
                    <li><a href="/locator"></a></li>
                  -->
            </ul>
        </div>
    </div>
</nav>


  
  <br class="clear" />

  <div class="container mainbody">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

     <!-- Modal -->
  <div class="modal fade" id="Login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Login or Sign up</h4>
        </div>
        <div class="modal-body">
       
             <a class="btn btn-block btn-social btn-facebook" href="/users/auth/facebook">
                <span class="fa fa-facebook"></span> Login with Facebook
            </a>
          
        </div>
      </div>
    </div>
  </div>

    <%= yield %>
  </div>

<div class="footer">
    <div class="container">
      <div class="col-xs-12">
          <%= link_to 'Privacy Policy', privacy_path %><br />
          <a href="">About</a><br />
          <a href="">Contact</a>
      </div>
    </div>
  </div>