<!DOCTYPE html>
<html>
<head>
  <title>Douzie - Funny Jokes</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8"> 
  <meta name="google-site-verification" content="rUxjZfY8gxXTZ4jgDxORSoFrAHDgMBsBw-ntaQW1UCw" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70487144-1', 'auto');
  ga('require', 'linkid');
  ga('send', 'pageview');

  </script>

</head>
<body>
	<header>
		<div class="col-xs-12">
			<%= link_to root_path, :class => 'logo' do %>
				<div class="douzie-logo">
  					<br />
  					: ]
				</div>
        <div class="logo-text">
          Douzie
          <br />
          <span class="slogan">
            funny jokes live here
          </span>
        </div>
			<% end %>
		</div>
	</header>
	<br class="clear" />

	<div class="container">
		<% if flash.notice.present? %>
			<div class="col-xs-10 col-xs-offset-1 alert alert-danger">
				<%= flash.notice.html_safe %>
			</div>
		<% end %>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- First Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9991138644713387"
     data-ad-slot="5659549353"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

		<%= yield %>
	</div>

	<div class="footer">
		<div class="container">
      <!--
        <div class="col-xs-12 col-sm-12 footer-blurb">
      		<% if logged_in? %>
          		<%= "Logged in as #{current_user.email}" %>
         		<%= link_to "(logout)", logout_path %>
       		<% else %>
          		<%= link_to "(login)", login_path %>
        	<% end %>
        </div>
      -->
		</div>
	</div>

</body>
</html>
